<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>The Parkist</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <div class="row">
      <div class="large-12">
        <div class="top-bar">
          <h3>The Parkist</h3>
          <ul class="menu">
            {{#if user}}
              <li><a href="/">Dashboard</a></li>
              <li><a href="/users/logout">Logout</a></li>
            {{else}}
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="large-12">
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        
        {{{body}}}
      </div>

      <footer class="footer">
        <p>&copy; 2017 The Parkist</p>
      </footer>


    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
